<div class="container-fluid">
	<div class="row">
		<div class="col-md">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<%= search_form_for @q, url: 'session_recruitments_path' do |f| %>
						<div class="search_field"><%= f.search_field :use_system_cont, class:"search_fieldm", placeholder:"使用システム検索"%><%= f.submit "検索", class:"submit_btn" %></div>
					<% end %>
				</div>
			</div>
			<table class="table">
				<tr class="thead_custom">
					<th>募集システム</th>
					<th>作成者</th>
					<th>予想プレイ時間</th>
					<th>募集締切</th>
					<th>セッション開始</th>
					<th>作成時間</th>
				</tr>
				<% @cthulhus.each do |u| %>
					<tr class="tbody">
						<td class="line_height tbody"><%= link_to cthulhu_path(u.id) do %><%= u.use_system %><% end %><% if u.start_date < Date.today %>【終了】<% end %></td>
						<td class="line_height tbody"><%= link_to user_path(u.user.id) do %><%= u.user.user_name %><% end %></td>
						<td><%= u.play_time %>時間</td>
						<td><%= u.deadline.strftime("%-m月%-d日 %-H時%-M分") %></td>
						<td><%= u.start_date.strftime("%-m月%-d日 %-H時%-M分") %></td>
						<td class="line_height tbody"><%= u.created_at.strftime("%-m月%-d日 %-H時%-M分") %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
